.anime_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 9px;
  margin: 5px;
  height: 90%
}

.anime_obj {
  height: 87%;
  width: 29%;
  background-color: darkgray;
  border: solid black 1px;
  border-radius: 9px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

/* 28D */
.anime_obj .obj {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 9px;
  position: absolute; 
  top: 90px;
  transition: 1s

}

#obj_1 {
  animation: grow 3s infinite linear;
}

/* 28E */
#obj_2:hover {
  border-radius: 0px;
  background-color: green;
  transform: rotate(765deg)
}

#obj_3:hover {
  background-color: magenta;
  border-radius: 50%;
  transform: scale(1.8)
}

/* 28C */
@keyframes grow {
  0% {background: blue; width: 100px; border-radius: 50%;}
  25% {background: purple; width: 200px;}
  50% {background: red; width: 300px; border-radius: 0%; height: 150px; top: 65px}
  75% {background: purple; width: 200px;}
  100% {background: blue; width: 100px; border-radius: 50%;}
}
